.globalNavi {
	border: solid #CCCCCC;
	border-width: 1px 0;
	padding: 10px 0;
	height: 25px;
	min-width: 1400px;
	margin: auto;
}

.globalNavi ul {
	margin: 0;
	padding: 0;
}

.globalNavi ul:after {
	content: "";
	clear: both;
	display: block;
}

.globalNavi ul li {
	list-style: none;
	min-width: 150px;
	float: left;
	border-left: solid 1px #CCCCCC;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 15px;
	line-height: 1.3;
}

.globalNavi ul li:first-child {
	border-left: none;
}

.globalNavi ul li a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 5px 0;
}

.globalNavi ul li a:hover {
	background-color: #F2F2E5;
}

header {
	margin: 0px auto;
	position: fixed;
	background-color: rgba(255, 207, 194, 1);
}

body {
	margin: 0px auto;		
}

body .body-head {
}

body .body-main {
	padding: 30px 0 0 0;    /* 上下に160pxを余白を取る */
	margin: 0px auto;	
}