.tweet-box {
	max-width: 300px;
	margin: 5px auto ;
  padding: 1px 1px 3px 10px;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.tweet-box .name, .date {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
	height: 20px;
	border-bottom: solid 1px rgba(200, 200, 255, 1);
}

.tweet-box .name {
	text-align: left;
}
.tweet-box .date {
	text-align: right;
}

.tweet-box .content {
	text-align: left;
	clear: both;
}

.tweet-box .form {
	text-align: left;
	border-top: dashed 1px rgba(150, 150, 255, 1);
}

.tweet-box .form .button {
	display: inline;
}

.tweet-box a {
	text-decoration: none;
	display: block;
}

.tweet-box a:hover {
	text-decoration: underline;
}
.tweet-box:hover {
	background: rgba(200, 200, 255, 1);
}

#overlay{
  display: none;
  width: 50%;
  height:100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(0,0,0,0.7);
}

#close{
  background: #eeeeee;
  color: #717171;
  width: 70px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  padding:5px 0 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
