@import models._
@(followList: Seq[Users], user_id: String, my_id: String)

@userPage(user_id, my_id) {
  <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/userList.js")" type="text/javascript"></script>
  <script type="text/javascript" src="@routes.TweetController.javascriptRoutes"></script>
  <h1>Follow List</h1>

  @followList.map { follow =>
    <div class="user-box">
      <div class="name">
        <a href="@controllers.routes.TweetController.userTweetList(follow.userId)">@follow.userName</a>
      </div>
      <div class="id">
        <a href="@controllers.routes.TweetController.userTweetList(follow.userId)">@follow.userId</a>
      </div>
      <div class="form">
        <button class="follow_button" value="@follow.userId" type="submit">follow</button>
      </div>
    </div>
  }
}