@import models._
@(items: Seq[Users])
<html>
    <head>
        <title>User List</title>
    </head>
    <body>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名前</th>
                        <th>アドレス</th>
                        <th>パスワード</th>
                    </tr>
                </thead>
                <tbody>
                	@items.map { user =>
                	<tr>
                		<td><a href="@controllers.routes.TweetController.userTweetList(user.user_id)"> @user.user_id</a> </td>
                		<td> @user.user_name </td>
                		<td> @user.email </td>
                		<td> @user.password </td>
                	</tr>
                }
                </tbody>
            </table>
        </section>
    </body>
</html>