@(userForm: Form[services.Users])(implicit request: MessagesRequestHeader)
<html>
    <head>
        <title>Twitter Clone</title>
    </head>
    <body>

        <h1> Sign up </h1>

        @* Global errors are not tied to any particular userForm field *@
        @if(userForm.hasGlobalErrors) {
          @userForm.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
          }
        }

        
        @helper.form(action = routes.UserController.userAdd()) {
        @helper.CSRF.formField
        <fieldset>
            @helper.inputText(userForm("user_id"), 'label -> "ユーザID")
        	@helper.inputText(userForm("user_name"), 'label -> "ユーザ名")
            @helper.inputText(userForm("email"), 'label -> "メールアドレス")
            @helper.inputText(userForm("password"), 'label -> "パスワード")
        </fieldset>

        <input type="submit" value="登録">
      }

    </body>
</html>