@import models._
@(timeline: Seq[TweetInfo], my_id: String)

@userPage(my_id, my_id) {
  <h1>Timeline</h1>

  @timeline.map { tweet =>
    <div class="tweet-box" id="@tweet.tweetId">
    	<div class="name">
      	<a href="@controllers.routes.TweetController.userTweetList(tweet.userId)">@tweet.userName @tweet.userId</a>
      </div>
    	<div class="date">
    		@tweet.dateTime.toString("yyyy/MM/dd")
      </div>
    	<div class="content">
        @tweet.messages
    	</div>


    	<div class="form">
        <button class= "click-box" value="@tweet.tweetId" type="submit"> detail</button>
        <form class="button">
          <input type="hidden" class="user_id" value="@tweet.userId">
          <button class="fav_button" value="@tweet.tweetId" type="submit">fav</button>
        </form>
        @tweet.favoriteCount 

        <form class="button">
          <input type="hidden" class="user_id" value="@tweet.userId">
          <button class="retweet_button" value="@tweet.tweetId" type="submit">retweet</button>
        </form>
        @tweet.retweetCount
    	</div>
    </div>
  }
}