@import models._
@(timeline: Seq[TweetInfo], my_id: String)

@userPage(my_id, my_id) {
  <h1>Timeline</h1>

  @timeline.map { tweet =>
    <div class="tweet-box click-box" id="@tweet.tweet_id">
    	<div class="name">
      	<a href="@controllers.routes.TweetController.userTweetList(tweet.user_id)">@tweet.user_name @tweet.user_id</a>
      </div>
    	<div class="date">
    		@tweet.date_time.toString("yyyy/MM/dd")
      </div>
    	<div class="content">
        @tweet.messages
    	</div>


    	<div class="form">
        <form class="button">
          <input type="hidden" class="user_id" value="@tweet.user_id">
          <button class="fav_button" value="@tweet.tweet_id" type="submit">fav</button>
        </form>
        @tweet.favorite_count 

        <form class="button">
          <input type="hidden" class="user_id" value="@tweet.user_id">
          <button class="retweet_button" value="@tweet.tweet_id" type="submit">retweet</button>
        </form>
        @tweet.retweet_count
    	</div>
    </div>
  }
}