@(tweetForm: Form[String], my_id: String)(implicit request: MessagesRequestHeader)
@home(my_id) {
    <h1> Tweet </h1>

    @* Global errors are not tied to any particular tweetForm field *@
    @if(tweetForm.hasGlobalErrors) {
      @tweetForm.globalErrors.map { error: FormError =>
        <div>
            @error.key: @error.message
        </div>
      }
    }

    
    @helper.form(action = routes.TweetController.addNewTweet()) {
    <fieldset>
        @helper.inputText(tweetForm("messages"), 'label -> "ツイート文", 'size -> 100)
    </fieldset>

    <input type="submit" value="ツイート">
  }
}
