@(tweetForm: Form[String])(implicit request: MessagesRequestHeader)
<html>
    <head>
        <meta charset="utf-8">
        <title>Twitter Clone</title>
    </head>
    <body>

        <h1> Tweet </h1>

        @* Global errors are not tied to any particular tweetForm field *@
        @if(tweetForm.hasGlobalErrors) {
          @tweetForm.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
          }
        }

        
        @helper.form(action = routes.TweetController.addNewTweet()) {
        @helper.CSRF.formField
        <fieldset>
            @helper.inputText(tweetForm("messages"), 'label -> "ツイート文")
        </fieldset>

        <input type="submit" value="ツイート">
      }

    </body>
</html>