@import services._
@(tweetList: Seq[Tweets])
<html>
    <head>
        <title>Twitter Clone</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/tweet.css")">
    </head>
    <body>

        <h1> tweet list </h1>

        <section>
            @tweetList.map { tweet =>
              <div class="box">
                @tweet.user_id @tweet.date_time.toString("yyyy/MM/dd")
                <br></br>
                @tweet.messages
              </div>
            }

        </section>
    </body>
</html>