@import models._
@(tweetList: Seq[TweetInfo], user_id: String)

@userPage(user_id) {
  <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/tweet.js")" type="text/javascript"></script>
  <script type="text/javascript" src="@routes.TweetController.javascriptRoutes"></script>
  <h1>Tweet List</h1>

  @tweetList.map { tweet =>
    <div class="tweet-box click-box" id="@tweet.tweet_id">
      <div class="name">
      <a href="@controllers.routes.TweetController.userTweetList(user_id)">@tweet.user_name @tweet.user_id</a>
      </div>
      <div class="date">
        @tweet.date_time.toString("yyyy/MM/dd")
      </div>
      <div class="content">
        @tweet.messages
      </div>

      <div class="form">
        <form class="button">
          <input type="hidden" class="user_id" value="@tweet.user_id">
          <button class="fav_button" value="@tweet.tweet_id" type="submit">fav</button>
        </form>
        @tweet.favorite_count 

        <form class="button">
          <input type="hidden" class="user_id" value="@tweet.user_id">
          <button class="retweet_button" value="@tweet.tweet_id" type="submit">retweet</button>
        </form>
        @tweet.retweet_count
      </div>
    </div>
  }

  <div id="overlay">
    <p id="close">close</p>
    <div id="overlay-main-tweet">
    </div>
  </div>
}