@(userId: String, myId: Option[String])(main: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@userId</title>

        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/tweet.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/layout.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/user.css")">
      
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/userList.css")">
    </head>
    
    <body>
        <div class="body-head">
            <header>
                <nav class="globalNavi">
                <ul>
                    <li><a href="@controllers.routes.UserController.home()">ホーム</a></li>
                    <li><a href="@controllers.routes.TweetController.tweet()">ツイート</a></li>
                    <li><a href="@controllers.routes.UserController.signout()">サインアウト</a></li>
                    <li>　</li>
                    @if(myId.isDefined) {
                        <li><a href="@controllers.routes.TweetController.userTweetList(myId.get)">Hi, @myId.get</a></li>
                    } else {
                        <li>Hello!</li>
                    }
                    <li>
                    <form method="GET" action="/search">
                        <input type="text" name="q" size="30" placeholder="search">
                        <input type="submit" value="検索">
                    </form>
                    </li>
                </ul>
                </nav>
            </header>
        </div>
        
        <div class="body-main">
            <br>        
            <div class="container">
                <div class="main">
                    @main
                </div>
                <div class="side">
                    <div class="box">
                      <div class="name">
                        <a href="@controllers.routes.TweetController.userTweetList(userId)">@userId</a>
                      </div>
                    </div>


                    <div class="top-box">
                      <div class="child-box">
                        <div class="user-info tweet">
                          <a href="@controllers.routes.TweetController.userTweetList(userId)">ツイート</a>
                        </div>
                        <div class="user-info follow">
                          <a href="@controllers.routes.UserController.followingList(userId)">フォロー</a>
                        </div>
                      </div>
  
                      <div class="child-box">
                        <div class="user-info follower">
                          <a href="@controllers.routes.UserController.followerList(userId)">フォロワー</a>
                        </div>
                        <div class="user-info favorite">
                          <a href="@controllers.routes.TweetController.userFavoriteList(userId)">ライク</a>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </body>

</html>
