@import models._
@(tweetList: Seq[TweetInfo], user_id: String, my_id: String)

@userPage(user_id, my_id) {
  <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/tweet.js")" type="text/javascript"></script>
  <script type="text/javascript" src="@routes.TweetController.javascriptRoutes"></script>
  <h1>Tweet List</h1>

  @tweetList.map { tweet =>
    <div class="tweet-box" id="@tweet.tweetId">
      <div class="name">
      <a href="@controllers.routes.TweetController.userTweetList(user_id)">@tweet.userName @tweet.userId</a>
      </div>
      <div class="date">
        @tweet.dateTime.toString("yyyy/MM/dd")
      </div>
      <div class="content">
        @tweet.messages
      </div>

      <div class="form">
        <button class= "click-box" value="@tweet.tweetId" type="submit"> detail</button>
        <form class="button">
          <input type="hidden" class="user_id" value="@tweet.userId">
          <button class="fav_button" value="@tweet.tweetId" type="submit">fav</button>
        </form>
        @tweet.favoriteCount 

        <form class="button">
          <input type="hidden" class="user_id" value="@tweet.userId">
          <button class="retweet_button" value="@tweet.tweetId" type="submit">retweet</button>
        </form>
        @tweet.retweetCount
      </div>
    </div>
  }

  <div id="overlay">
    <p id="close">close</p>
    <div id="overlay-main-tweet">
    </div>

    <form id="reply_form">
      <input type="text" size="40" id="reply_message" name="text_form" placeholder="返信内容" required>
      <button id="reply_button" value="" type="submit">reply</button>
    </form>
    <div id="overlay-reply-tweet">
    </div>
  </div>
}